body {
  font-family: 'Oswald', sans-serif;
}

.jumbotron {
  background-image: linear-gradient(to right, #020, #000);
  color: #0f0;
  font-family: 'Press Start 2P', monospace;
  margin: 0
}

.navbar {
  background-image: linear-gradient(to right, #020, #000);
    color: white;
}

@media (max-width: 600px) {
  header h5 {
    font-size: 0.75rem;
  }
  header h3 {
    font-size: 1.05rem;
  }
}
